<strong>Olá, {{ name }} </strong>
<p>Seja bem-vindo ao Gympoint, local perfeito para se tornar monstrão!</p>
<p>
  <strong>Sua dúvida: </strong> {{ question }} <br />
  <strong>Sua resposta: </strong> {{ answer }} <br />
  <br />
  <small>
    Qualquer duvída por favor entrar em contato por meio de qualquer um dos nossos canais de atendimento.
  </small>

</p>
